{% extends 'base.html' %}
{% block title %}
  Об авторе проекта
{% endblock title %}
{% block content %}
  <div class="col-12 col-md-10" style="background-color: #f6f6f6">
    <h1>Привет, я Дмитрий!</h1>
    <p>
      Мне 33 года. Я студент факультета Бэкенд - Python разработчик в Яндекс
      Практикум.
    </p>
    <p>
      Я безумно рад, что этот сайт запускается и работает.
    </p>
    <p>
      Оформлением страниц я займусь позднее, когда глубже изучу HTML.
    </p>

  </div>
{% endblock content %}