{% extends 'base.html' %}
{% block title %}
  Техгологии
{% endblock title %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <h5>Технологии:</h5>
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>На данный момент я немного изучил фреймворк Django </p>
      <p>Изучил основы языка Python, на котором написан этот сайт</p>
      <p>Научился основам тестирования приложений</p>
    </article>
  </div>
{% endblock %}
